.wrapper {
  margin: 0 auto 20px;
  max-width: 1200px;
  width: 100%;
}

nav {
  padding: 10px 5px;
  background-color: #2196F3;
  border-radius: 5px;
}
nav h1 {
  color: white;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  margin: 0;
}

.search, .profile {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  border: none;
}

.search {
  text-align: center;
  background-color: lightgray;
}
.search input {
  padding: 10px;
  width: 350px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.search input:focus {
  outline: none;
}

.message.failed {
  background-color: red;
  color: white;
  padding: 10px;
}

.profile-info-wrap {
  flex: 30%;
}
.profile-info-wrap .profile-img {
  max-width: 300px;
  min-width: 210px;
}
.profile-info-wrap .profile-img img {
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 0 2px 5px lightgrey;
}
.profile-info-wrap .profile-img .view-link {
  display: block;
  background-color: white;
  border: 2px solid #2196F3;
  color: #2196F3;
  margin: 10px 0;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 0.3px;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s ease;
}
.profile-info-wrap .profile-img .view-link:hover {
  background-color: #2196F3;
  border: 2px solid #2196F3;
  color: white;
}

.profile-badges-wrap {
  flex: 70%;
}

.profile-badges, .repo-badges {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 41px 0 30px;
}
.profile-badges .badge, .repo-badges .badge {
  margin: 5px;
  border: 1.2px solid lightgray;
  padding: 5px;
  border-radius: 5px;
  font-size: 16.5px;
}
.profile-badges .badge.badge-blue, .repo-badges .badge.badge-blue {
  border: 1.2px solid #2196F3;
}
.profile-badges .badge.badge-yellow, .repo-badges .badge.badge-yellow {
  border: 1.2px solid orange;
}
.profile-badges .badge.badge-green, .repo-badges .badge.badge-green {
  border: 1.2px solid forestgreen;
}
.profile-badges .badge.badge-purple, .repo-badges .badge.badge-purple {
  border: 1.2px solid mediumpurple;
}

.profile-about {
  padding-left: 0;
  margin-left: 10px;
}
.profile-about .profile-about-item {
  display: block;
  list-style-type: none;
  border: 1px solid lightgray;
  padding: 8px;
  border-collapse: collapse;
}
.profile-about .profile-about-item:not(:last-child) {
  border-bottom: none;
}
.profile-about .profile-about-item:first-child {
  border-radius: 0 0 5px 5px;
}
.profile-about .profile-about-item:first-child {
  border-radius: 5px 5px 0 0;
}

.repo .repo-wrap {
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}
.repo .repo-link {
  flex: 50%;
}
.repo .repo-link a {
  display: flex;
  justify-content: center;
  margin: 46px 0 34px;
  color: #2196F3;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 0 10px;
}
.repo .repo-badges {
  flex: 50%;
}

@media (max-width: 1000px) {
  .profile-badges {
    margin: 25px 0;
  }
}
@media (max-width: 900px) {
  .profile-badges {
    margin: 15px 0;
  }

  .profile-badges .badge {
    font-size: 16px;
  }

  .profile-info-wrap .profile-img {
    max-width: 250px;
    margin: 0 auto;
  }
}
@media (max-width: 700px) {
  .profile-badges .badge {
    font-size: 16.5px;
  }
}
@media (max-width: 550px) {
  .repo .repo-link, .repo .repo-badges {
    flex: 100%;
  }

  .repo .repo-badges {
    margin: 15px 0;
  }

  .repo .repo-link a {
    margin: 15px 0 5px;
  }
}

/*# sourceMappingURL=styles.css.map */
